<div class="plantingjs-toolbox-toggle"></div>
<div class="plantingjs-toolbox-container">
    <ul class="plantingjs-toolbox-list">
        {{#each objects}}
        <li class="plantingjs-toolbox-item">
            <div class="js-draggable-object" data-object-id="{{this.objectId}}">
                <img class="plantingjs-toolbox-image" src="{{this.projections.[0]}}" alt="">
            </div>
        </li>
        {{/each}}
    </ul>
</div>
